SPA_SERVICE_TRACKER_github.json
{
  "name": "Spa Service Tracker Bot",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Parse Message1').item.json.chatId }}",
        "text": "={{ $json.errorMsg }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1120
      ],
      "id": "08ae4ed9-e24e-4431-96ca-b2d62590cc6e",
      "name": "Send Error Reply",
      "webhookId": "ff6767e2-06cd-4569-90e6-97a67e692841",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "SCHEDULE",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Read SCHEDULES Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        256,
        1312
      ],
      "id": "79b04c03-2326-4c7c-a436-ea2cfedf1039",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Message1').first().json;\nconst rows = $input.all();\n\nconst clientNameInput = parsed.clientName.toLowerCase().trim();\nconst serviceInput = parsed.service.toLowerCase().trim();\n\nlet match = null;\n\nfor (const row of rows) {\n  const rowName = (row.json['Client Name'] || '').toLowerCase().trim();\n  const rowService = (row.json['Service'] || '').toLowerCase().trim();\n  if (rowName === clientNameInput && rowService === serviceInput) {\n    match = row.json;\n    break;\n  }\n}\n\nif (!match) {\n  return [{\n    json: {\n      scheduleFound: false,\n      chatId: parsed.chatId,\n      clientName: parsed.clientName,\n      service: parsed.service,\n      status: parsed.status,\n      time: parsed.time,\n      lastUpdated: parsed.lastUpdated,\n      replyMsg: `Γ¥î No schedule found for \"${parsed.clientName}\" with service \"${parsed.service}\".\\nPlease check the name and service and try again.`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    scheduleFound: true,\n    chatId: parsed.chatId,\n    clientName: parsed.clientName,\n    service: parsed.service,\n    status: parsed.status,\n    time: parsed.time,\n    lastUpdated: parsed.lastUpdated,\n    scheduledDate: match['Date'] || '',\n    scheduledTime: match['Time'] || '',\n    location: match['Location'] || ''\n  }\n}];"
      },
      "name": "Check In SCHEDULES",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1312
      ],
      "id": "b10b8026-8ef9-4e98-8394-b1e3bca76664"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.scheduleFound }}",
              "value2": true
            }
          ]
        }
      },
      "name": "In SCHEDULES?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        704,
        1312
      ],
      "id": "2b92f877-5f0c-4d22-a216-d93c8e1d6838"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.replyMsg }}",
        "additionalFields": {}
      },
      "name": "Reply Not In Schedules",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        1456
      ],
      "id": "0b05172b-eb26-43ea-a654-ff5cab64ee1b",
      "webhookId": "aa000001-0000-0000-0000-000000000001",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Check In SCHEDULES').first().json;\nconst rows = $input.all();\n\nconst clientNameInput = parsed.clientName.toLowerCase().trim();\nconst serviceInput = parsed.service.toLowerCase().trim();\n\nlet matchIndex = -1;\nlet alreadyUpdated = false;\n\nfor (let i = 0; i < rows.length; i++) {\n  const rowName = (rows[i].json['Client Name'] || '').toLowerCase().trim();\n  const rowService = (rows[i].json['Service'] || '').toLowerCase().trim();\n  const rowStatus = (rows[i].json['Status'] || '').toLowerCase().trim();\n\n  if (rowName === clientNameInput && rowService === serviceInput) {\n    matchIndex = i;\n    if (rowStatus === parsed.status.toLowerCase()) {\n      alreadyUpdated = true;\n    }\n    break;\n  }\n}\n\nif (alreadyUpdated) {\n  return [{\n    json: {\n      trackerFound: true,\n      alreadyUpdated: true,\n      chatId: parsed.chatId,\n      clientName: parsed.clientName,\n      service: parsed.service,\n      status: parsed.status,\n      time: parsed.time,\n      lastUpdated: parsed.lastUpdated,\n      replyMsg: `ΓÜá∩╕Å Already updated!\\n\\n≡ƒæñ ${parsed.clientName} - ${parsed.service} is already marked as \"${parsed.status}\".\\nNo changes made.`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    trackerFound: matchIndex !== -1,\n    alreadyUpdated: false,\n    rowIndex: matchIndex !== -1 ? matchIndex + 2 : null,\n    chatId: parsed.chatId,\n    clientName: parsed.clientName,\n    service: parsed.service,\n    status: parsed.status,\n    time: parsed.time,\n    lastUpdated: parsed.lastUpdated\n  }\n}];"
      },
      "name": "Check In TRACKER",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1312
      ],
      "id": "91b84d21-176f-4a7c-a066-a02675c3a37b"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.alreadyUpdated }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Already Updated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1376,
        1312
      ],
      "id": "1ca62256-18f1-4fc6-93d8-f3a31a725fbf"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=ALready updated",
        "additionalFields": {}
      },
      "name": "Reply Already Updated",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        1120
      ],
      "id": "26e89aaa-1951-41b3-8cfa-971ea3cefbaa",
      "webhookId": "aa000002-0000-0000-0000-000000000002",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.found }}",
              "value2": true
            }
          ]
        }
      },
      "name": "New or Existing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1824,
        1312
      ],
      "id": "2d618673-8f38-4c96-94d9-d8fb6f2b1054"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "value": "TRACKER",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $json.clientName }}",
            "Service": "={{ $json.service }}",
            "Status": "={{ $json.status }}",
            "Time": "={{ $json.time }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [
            "Client Name",
            "Service"
          ],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2048,
        1216
      ],
      "id": "85a83313-0f6d-410b-897a-2bd51bcbc992",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        1216
      ],
      "id": "57024841-66a6-4f74-b427-3a002834dcf0",
      "name": "Telegram Trigger1",
      "webhookId": "5e497f38-2bb0-4a64-be40-35954fc78bee",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.message.text;\nconst chatId = $input.first().json.message.chat.id;\n\nif (!text) throw new Error('No message text received.');\n\nconst parts = text.split(',').map(p => p.trim());\n\nif (parts.length < 4) {\n  return [{ json: { error: true, chatId, errorMsg: 'Γ¥î Wrong format!\\nUse: Name, Service, Status, Time\\nExample: Jennifer, Swedish Massage, Done, 7:30' } }];\n}\n\nconst validStatuses = ['done', 'cancelled', 'rescheduled'];\nconst status = parts[2].toLowerCase();\n\nif (!validStatuses.includes(status)) {\n  return [{ json: { error: true, chatId, errorMsg: 'Γ¥î Invalid status. Use: Done, Cancelled, or Rescheduled' } }];\n}\n\nreturn [{\n  json: {\n    error: false,\n    clientName: parts[0],\n    service: parts[1],\n    status: parts[2].charAt(0).toUpperCase() + parts[2].slice(1).toLowerCase(),\n    time: parts[3],\n    chatId,\n    lastUpdated: new Date().toLocaleString('en-PH', { timeZone: 'Asia/Manila' })\n  }\n}];"
      },
      "name": "Parse Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        1216
      ],
      "id": "d97e4bae-d5b9-41de-ab3b-a4a3626e8cb8"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has Error?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        32,
        1216
      ],
      "id": "d2213bac-5aac-4970-898d-d19e9967ffe8"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst rows = $('Read TRACKER Sheet').all();\n\nconst clientNameInput = data.clientName.toLowerCase().trim();\nconst serviceInput = data.service.toLowerCase().trim();\n\nlet matchIndex = -1;\n\nfor (let i = 0; i < rows.length; i++) {\n  const rowName = (rows[i].json['Client Name'] || '').toLowerCase().trim();\n  const rowService = (rows[i].json['Service'] || '').toLowerCase().trim();\n  if (rowName === clientNameInput && rowService === serviceInput) {\n    matchIndex = i;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    found: matchIndex !== -1,\n    rowIndex: matchIndex !== -1 ? matchIndex + 2 : null,\n    clientName: data.clientName,\n    service: data.service,\n    status: data.status,\n    time: data.time,\n    lastUpdated: data.lastUpdated,\n    chatId: data.chatId\n  }\n}];"
      },
      "name": "Find Client Row1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        1312
      ],
      "id": "46da4203-7152-41d5-9418-b1f9348d7e5f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "value": "TRACKER",
          "__rl": true,
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $json.clientName }}",
            "Service": "={{ $json.service }}",
            "Status": "={{ $json.status }}",
            "Time": "={{ $json.time }}",
            "Last Updated": "={{ $json.lastUpdated }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Add New Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2048,
        1408
      ],
      "id": "db25f5c6-2672-4fde-a62f-9cffc3c4a3d1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Updated!\n\nClient: {{ $json[\"Client Name\"] }}\nService:{{ $json.Service }}\nStatus: {{ $json.Status }}\nTime: {{ $json.Time }}",
        "additionalFields": {}
      },
      "name": "Send Success Reply1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2272,
        1312
      ],
      "id": "37a90b5d-d896-4a47-b46c-6c08606c5d43",
      "webhookId": "b84bdb49-5d5d-4a85-bdf6-4dda395dd158",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "TRACKER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "id": "21d70549-13df-4672-99bb-f4cca671c174",
      "name": "Read TRACKER Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        928,
        1168
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read SCHEDULES Sheet": {
      "main": [
        [
          {
            "node": "Check In SCHEDULES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check In SCHEDULES": {
      "main": [
        [
          {
            "node": "In SCHEDULES?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In SCHEDULES?": {
      "main": [
        [
          {
            "node": "Read TRACKER Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check In TRACKER",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Not In Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check In TRACKER": {
      "main": [
        [
          {
            "node": "Already Updated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Updated?": {
      "main": [
        [
          {
            "node": "Reply Already Updated",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find Client Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New or Existing?": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        [
          {
            "node": "Send Success Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Parse Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message1": {
      "main": [
        [
          {
            "node": "Has Error?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?1": {
      "main": [
        [
          {
            "node": "Send Error Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read SCHEDULES Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Client Row1": {
      "main": [
        [
          {
            "node": "New or Existing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Row1": {
      "main": [
        [
          {
            "node": "Send Success Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read TRACKER Sheet": {
      "main": [
        [
          {
            "node": "Check In TRACKER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2533a25d-f61f-43ff-aad4-828844b3edc6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "mUMw0mUxrvtdeUdw",
  "tags": []
}